.wrapper {
    /*background-color: lavender;*/
    padding: 15px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;

}

.nav {
    display: flex;
    justify-content: space-around;
    vertical-align: center;
    border-bottom: 1px solid black;
}

.nav-old-logo {
    font-family: 'Cinzel', serif;
    font-size: 26px;
    text-align: center;
    margin-top: 70px;
}

.nav-item {
    width: 190px;
    height: 190px;
}

.nav-text {

    text-align: center;
    margin: 0px;


}

.nav-center-item {
    font-size: 46px;
    margin: 48px 0 0 0;
    text-align: center;

}

.nav-center span {
    font-size: 22px;
    margin-top: 10px;
    margin-left: 21px;
}

.nav-center {
    font-size: 30px;
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    animation-duration: 2s;
}

@keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

.img {
    margin-right: 10px;
}

.made-in-item {
    font-family: 'Cinzel', serif;
    font-size: 16px;
    text-align: center;
}

.about-me {
    display: flex;
    justify-content: space-between;
}

.about-me-text {
    width: 400px;
}

.about-me-text-item {
    font-family: 'Kalam', cursive;
    font-size: 14px;
    text-align: justify;
    /*width: 250px;*/
}

.about-me-contacts {
    width: 400px;
}

.about {
    text-align: left;
    font-family: 'Cinzel', serif;
    font-size: 12px;

}

.about-me-text-item span {
    font-family: 'Cinzel', serif;
    font-size: 18px;
    font-weight: 700;

}

.contacts span {
    font-family: 'Cinzel', serif;
    font-size: 18px;
    font-weight: 700;
}

.contacts-social span {
    font-family: 'Cinzel', serif;
    font-size: 18px;
    font-weight: 700;
}

.products {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}

h1 {
    text-align: center;
    font-family: 'Cinzel', serif;
    margin: 60px 0 0 0;
}

h2 {
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 12px;
    margin: 10px 0 50px 0;
}

.products-item {
    margin-bottom: 150px;
    width: 350px;
}

.pics {
    display: inline-block;
    /*background-color: #000;*/
}

.image {
    display: inline-block;
    width: 160px;
    height: 120px;
}

input[type="checkbox"] {
    display: none;
}

input + label {
    display: block;
    width: 160px;
    height: 120px;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    background-image: url('http://lorempixel.com/800/600');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /*  transition: .4s;
    */
}

input:checked + label {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;

    /*  transform: translate(calc(2em + 160px - 100vw), calc(0px - 120px - 2em));
    */
    background-color: rgba(10, 10, 10, .9);
    background-size: auto;
    z-index: 99999;
}

.products-description {
    border: 1px solid black;
    font-family: 'Cinzel', serif;
    text-align: left;
    font-size: 10px;
    margin: 10px 0;
    padding: 10px;

}

.products-description:hover {
    transform: scale(1.4);
    transition-duration: 0.5s;
    margin-bottom: 15px;
}

.products-description span {
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}

.products-item a {
    display: block;
    margin: 0 auto;
    width: 76px;
    padding: 10px;
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid black;
    font-weight: 700;
    font-size: 14px;
    color: black;
    font-family: 'Cinzel', serif;

}

h3 {
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    margin: 30px 0;
}

.handmade-pic {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.handmade-pic img {
    margin-bottom: 26px;
}
.handmade-pic img:hover {
    transform: scale(1.2);
    /*padding: 0;*/
    transition-duration: 0.5s;
}
.footer {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    /*border: 1px solid black;*/
    /*border-radius: 8px;*/

}

.footer p {
    font-family: 'Cinzel', serif;
    font-size: 14px;
    color: black;
    text-align: center;
}

.footer span {
    font-size: 16px;
    font-weight: 700;
}

.footer p:hover {
    transform: scale(1.2);
    /*padding: 0;*/
    transition-duration: 0.5s;
}